<div class="form-field">
    <label>Name:</label>
    <div>
        <InputText @bind-Value="Address.Name" />
        <ValidationMessage For="@(() => Address.Name)" />
    </div>
</div>

<div class="form-field">
    <label>Straße:</label>
    <div>
        <InputText @bind-Value="Address.Straße" />
        <ValidationMessage For="@(() => Address.Straße)" />
    </div>
</div>

<div class="form-field">
    <label>Stadt:</label>
    <div>
        <InputText @bind-Value="Address.Stadt" />
        <ValidationMessage For="@(() => Address.Stadt)" />
    </div>
</div>

<div class="form-field">
    <label>PLZ:</label>
    <div>
        <InputText @bind-Value="Address.PLZ" />
        <ValidationMessage For="@(() => Address.PLZ)" />
    </div>
</div>

<div class="form-field">
    <label>Anmerkung:</label>
    <div>
        <input @bind="Address.Anmerkung" />
    </div>
</div>

@code {
    [Parameter, EditorRequired] public Address Address { get; set; } = new();
}